aside.cabinetMenu
    .sticky
        a(href='card.html')
            i.icon-creditcard
            | Моя карта
        a(href='product.html')
            i.icon-star
            | Излюбленный #[br] продукт (0)
        a(href='profile.html')
            i.icon-settings
            | Профиль
        a(href='#')
            i.icon-location-shopping
            | Мои магазины
