//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
    padding: 20px 0;
    &-inner {
        @extend .is-row;
        @extend .between__xs;
        @extend .middle__xs;
    }
    > div {
        @extend .is-col;
    }
    &__logo {
        a {text-decoration: none;}
    }
    &__link {
        @include transition();
    }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
