//
// Partials -> Main
// ------------------------------------

body {
  background-color: #f6f6f6;
}

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

.h-container {
    @media screen and (min-width: $screen-adaptive-nav) {
        min-height: 100vh;
    }
}
