//
// Modules -> Navs
// --------------------------------------------------

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    @if $use-adaptive == true {
      background-color: $base-color-main;
      @media screen and (min-width: $screen-adaptive-nav) {
        background-color: transparent;
      }
    } @else {
      background-color: transparent;
    }
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      float: right;
      padding: 9px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        background: #000;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      -webkit-overflow-scrolling: touch;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media screen and (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}
