.cabinet {
  @extend .is-row;
  @extend .end__xs;
  position: relative;

  &-data {
    padding: 5px 0 15px;

    &:not(:last-child) {
      border-bottom: 1px solid #e3e3e3;
    }
  }

  &-row {
    @extend .is-row;
  }

  &-col {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-6;
    @extend .is-col__lg-5;
    @extend .is-col__xl-4;

    .control {
      max-width: 320px;
    }

    &--long {
      @extend .is-col__lg-8;
      @extend .is-col__xl-6;
    }
  }

  h1 {
    margin-top: 0;
    color: $base-color-main;
  }

  h3 {
    color: $base-color-main;
    margin-bottom: 18px;
  }
}

.cabinetMenu {
  @extend .is-col;
  width: 100%;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.08);
  @media screen and (max-width: $screen-sm-max) {
    position: fixed;
    bottom: -2px;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $white-lighten;
    .sticky {
      position: static !important;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    box-shadow: none;
    width: 110px;
    margin-top: 10px;
  }
  .sticky {
    width: 100%;
    display: flex;
    z-index: 9;
    left: 0;
    @media screen and (min-width: $screen-md-min) {
      display: block;
      left: auto;
      width: auto;
    }
  }
  a {
    width: 25%;
    height: 80px;
    font-family: $base-font-family-serif;
    font-size: 10px;
    background-color: $white-lighten;
    margin-bottom: 1px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: $base-color-main;
    @media screen and (min-width: $screen-md-min) {
      width: 80px;
    }

    &:hover {
      color: $white-lighten;
      background-color: $base-color-main;

      i {
        color: $white-lighten;
      }
    }
  }

  i {
    font-size: 21px;
    color: $base-color-main;
  }

  i, img {
    display: block;
    margin: 0 auto 5px;
  }
}

.cabinetBody {
  @extend .is-col;
  width: 100%;
  @media screen and (min-width: $screen-md-min) {
    width: calc(100% - 130px);
  }
}

.cabinetFilter {
  margin: 40px 0;
  padding: 30px 20px;
  background-color: $white-lighten;

  h4 {
    margin-top: 11px;
    font-weight: 700;
    color: $base-color-main;
    font-family: $base-font-family-serif;
    font-size: 20px;
  }
  + h3 {
    margin-bottom: 30px;
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $screen-sm-max) {
      flex-wrap: wrap;
      > * {
        width: 100%;
      }
    }
  }
}

.cabinetCatalog {
  @extend .is-row;
  &-item {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-6;
    @extend .is-col__lg-4;
    margin-bottom: 20px;
  }
  &-inner {
    border: 4px solid transparent;
    transition: border 0.5s;
    &.active {
      border-color: $color-type-4a;
      .btn {
        @extend .btn--success;
      }
      i {
        transform: rotate(45deg);
      }
    }
  }
  &-img {
    position: relative;
    img {
      width: 100%;
    }
  }
  &-badge {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white-lighten;
    background-color: $color-type-2b;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
    span {
      display: block;
      font-size: 8px;
    }
  }
  &-desc {
    padding: 20px 15px;
    background-color: $white-lighten;
    display: flex;
    flex-direction: column;
    height: 170px;
    @media screen and (min-width: $screen-xl-min) {
      padding: 25px;
    }
  }
  &-title {
    font-weight: 400;
    color: $base-color-main;
    text-align: center;
    font-size: 20px;
    span {
      font-size: 12px;
    }
  }
  &-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    .btn {
      min-width: 133px;
      font-size: 13px;
      i {
        font-size: 11px;
        margin-right: 5px;
        transition: all 0.5s;
      }
    }
    .price {
      font-size: 24px;
      color: $base-color-main;
    }
  }
}

.cabinetSave {
  margin: 60px 0;
  display: flex;
  align-items: center;
  @media screen and (max-width: $screen-sm-max) {
    margin: 30px 0;
    flex-wrap: wrap;
  }
  a:not(.btn) {
    @extend .text--grey;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    margin-right: 30px;
    @media screen and (max-width: $screen-sm-max) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
