.flip-card {
  background-color: transparent;
  position: relative;
  perspective: 1000px;
  &-inner {
    position: relative;
    width: 200px;
    height: 130px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    @media screen and (min-width: $screen-md-min) {
      width: 220px;
      height: 142px;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 290px;
      height: 181px;
    }
  }
  &.active {
    .flip-card-inner {
      transform: rotateY(180deg);
    }
    .close-btn {
      .front {
        display: none;
      }
      .back {
        display: block;
      }
    }
  }
  &-front, &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  &-front {
    img {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    }
  }
  &-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background-color: #ffffff;
    transform: rotateY(180deg);
  }
  .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    text-align: center;
    top: 0;
    height: 130px;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    right: 10px;
    background-color: $white-lighten;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    @media screen and (min-width: $screen-md-min) {
      width: 60px;
      height: 142px;
      right: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 65px;
      height: 100%;
      right: 8%;
    }
    @media screen and (min-width: $screen-xl-min) {
      right: 0;
    }
    .front {
      font-size: 12px;
      text-transform: uppercase;
    }
    .back {
      display: none;
    }
  }
}

.clientNumber {
  color: #757575;
  font-size: 23px;
}

.clientTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-md-min) {
   flex-wrap: nowrap;
  }
  > * {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.clientInfo {
  @extend .is-row;
  justify-content: space-between;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 20px;
  }
  &-item {
    padding: 15px 0;
    @media screen and (min-width: $screen-md-min) {
      padding: 20px 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 30px 0;
    }
    h3 {
      margin-bottom: 15px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 25px;
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      .btn {
        width: 100%;
      }
    }
  }
  &-card {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-6;
    @extend .is-col__xl-4;
    margin-bottom: 10px;
  }
  &-desc {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-6;
    @extend .is-col__xl-7;
    h4 {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 700;
      color: $base-color-main;
      font-family: $base-font-family-serif;
      font-size: 22px;
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: 30px;
      }
    }
  }
  &-product {
    @extend .text__lg;
    @extend .text--grey;
    margin-bottom: 15px;
  }
  &-bonus {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: $white-lighten;
  }
  &-title {
    h3 {
      margin-bottom: 5px;
    }
  }
}

.bonus {
  &-badge {
    min-width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-type-2b;
    color: $white-lighten;
    font-size: 15px;
    font-weight: 700;
    margin-right: 15px;
  }
  &-txt {
    font-size: 20px;
    color: $base-color-main;
    span {
      color: #d74a2f;
    }
  }
  &-date {
    padding-left: 20px;
    min-width: 120px;
    font-size: 14px;
    margin-left: auto;
    @extend .hidden__xs;
    @extend .hidden__sm;
  }
}

.relative {
  position: relative;
}

.catalog {
  &.swiper-container {
    position: static;
  }
  &-item {
    display: flex;
    flex-wrap: wrap;
    background-color: $white-lighten;
  }
  &-img {
    position: relative;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: 300px;
    }
    img {
      width: 100%;
    }
  }
  &-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-type-2b;
    color: $white-lighten;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    span {
      font-size: 8px;
    }
  }
  &-desc {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      width: calc(100% - 300px);
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 30px 40px;
    }
    &:after {
      content: '';
      height: 100%;
      width: 3px;
      position: absolute;
      right: -2px;
      top: 0;
      bottom: 0;
      z-index: 9;
      background-color: $white-lighten;
    }
  }
  &-setting {
    color: #757575;
    font-family: $base-font-family-serif;
    font-size: 18px;
    font-style: italic;
  }
  &-title {
    color: $base-color-main;
  }
  &-price {
    color: $base-color-main;
    font-size: 24px;
    margin-bottom: 10px;
    span {
      text-decoration: line-through;
      color: #b1b1b1;
    }
  }
  .btn {
    margin-top: auto;
  }
}

.shops {
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-md-min) {
      flex-wrap: nowrap;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 20px;
    }
  }
  &-date {
    font-size: 14px;
    color: $base-color-main;
    min-width: 60px;
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 0;
      margin-right: 20px;
      width: auto;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-right: 45px;
    }
    b {
      @media screen and (min-width: $screen-md-min) {
        display: block;
      }
    }
  }
  &-img {
    min-width: 80px;
  }
  &-title {
    color: $base-color-main;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(100% - 100px);
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 0;
      width: auto;
    }
  }
  &-price {
    color: $base-color-main;
    font-size: 18px;
    font-weight: 700;
    min-width: 80px;
    @media screen and (min-width: $screen-md-min) {
      margin-left: auto;
      padding-right: 20px;
      min-width: 100px;
    }
  }
  &-rating {
    min-width: 135px;
    line-height: 1.5;
    font-size: 12px;
    padding-left: 20px;
    border-left: 1px solid #f0f0f0;
    &-add {
      color: #559f63;
    }
    &-sale {
      color: $color-type-2b;
    }
  }
}


.shares {
  @extend .is-row;
  &-item {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-6;
    position: relative;
    min-height: 250px;
    margin-bottom: 10px;
    @media screen and (min-width: $screen-lg-min) {
      min-height: inherit;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-inner {
    color: $white-lighten;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    @media screen and (min-width: $screen-lg-min) {
      padding: 30px 40px;
    }
    h3 {
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 10px;
      color: $white-lighten;
    }
    .button {
      margin-top: auto;
    }
  }
}

.clientForm {
  @extend .is-row;
  justify-content: space-between;
  &-title {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-5;
    h3 {
      margin-top: 0;
    }
  }
  &-form {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-7;
    @extend .is-col__lg-6;
  }
}
