//
// Pages -> Index
// ------------------------------------

.page-index { }

.fromlkEntry {
  @extend .is-row;
  @extend .between__xs;
  padding: 20px 0;
  @media screen and (min-width: $screen-adaptive-nav) {
    padding: 30px 0;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 60px 0;
  }
  h4 {
    margin-bottom: 30px;
  }
  &-sentagain {
    margin: 40px 0;
  }
  &-txt {
    margin-top: 50px;
  }
  &-left {
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-7;
    @extend .is-col__lg-8;
    h1 {
      margin-top: 0;
    }
    .control-pass,
    .control {
      max-width: 300px;
    }
  }
  &-right {
    text-align: right;
    @extend .is-col;
    @extend .is-col__xs-12;
    @extend .is-col__md-5;
    @extend .is-col__lg-4;
    margin-top: 30px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-top: 0;
    }
  }
  &-title {
    padding-bottom: 10px;
    color: $base-color-main;
    border-bottom: 1px solid #e3e3e3;
    @media screen and (min-width: $screen-adaptive-nav) {
      padding-bottom: 30px;
    }
  }
}

.cards {
  &-item {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 5px 59px rgba(0, 0, 0, 0.08), 0 5px 59px rgba(0, 0, 0, 0.08);
    .text--uppercase {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-lighten;
      z-index: 10;
    }
    &--club {
      .text--primary {
        position: absolute;
        left: 30px;
        bottom: 20px;
        color: $base-color-main;
        font-size: 22px;
        text-align: left;
        font-weight: 700;
        z-index: 10;
        font-family: $base-font-family-serif;
      }
    }
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  .control {
    margin-right: 10px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  justify-content: center;
  @media screen and (min-width: $screen-adaptive-nav) {
    width: auto;
    justify-content: flex-start;
  }
  a:not(.btn) {
    margin: 0 30px;
  }
  //> * {
  //  margin-bottom: 10px;
  //}
  > .btn {
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: $screen-adaptive-nav) {
      width: auto;
      margin-bottom: 0;
    }
  }
  i {
    margin-left: 15px;
    margin-right: 15px;
    @extend .hidden__sm;
    @extend .hidden__xs;
  }
}

.tooltip {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-left: 6px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  color: $white-lighten;
  background-color: #a4091e;
  &:after {
    content: '?';
    font-size: 12px;
    font-family: $base-font-family;
    position: absolute;
    left: 0;
    right: 0;
    color: $white-lighten;
  }
  &-body {
    position: absolute;
    left: 110%;
    top: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: $base-font-family;
    width: 220px;
    text-align: left;
    padding: 15px;
    z-index: 99;
    border-radius: 3px;
    background-color: rgba($black-darken, 0.5);
  }
}

.badge {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 30px 0;
  background-color: #ffffff;
  font-size: 14px;
  color: #757575;
  @extend .is-col__lg-9;
  span {
    margin-right: 10px;
    font-size: 30px;
    color: $color-type-2b;
  }
}


@media (min-width: 992px) {
  #mobile-menu #top-level-menu {
    margin-top: 220px !important;
  }
}
@media (max-width: 550px) {
  .page-index main {
    padding-top: 80px;
  }
  .page-index header #main-menu__switcher {
    top: 10px !important;
  }
}

header #main-logo img {
  width: auto !important;
}
