.sticky-stopper
footer
    #twobanners.div.forappear(data-appear-top-offset='-140')
        .container.outercont
            .row
                .col-xs-12.col-md-6
                    a.innerbanner.ib1.shop-link(href='http://www.rublevskiy-shop.ru/', target='_blank', style='background-image: url(/bitrix/templates/rublevskiy/gfx/hands-pad.jpg)')
                        .footer-fade
                        p.title-on-small.visible-xs.visible-sm Интернет-магазин
                        p.title-on-big.visible-md.visible-lg
                            | Наш интернет-магазин
                            br
                            | готов принять ваш заказ
                        span.redbutton
                            span.icon-bag
                            span(style='margin-left: 21px;') Начать покупки
                .col-xs-12.col-md-6
                    a.innerbanner.ib2(href='/club/', style='background-image: url(/bitrix/templates/rublevskiy/gfx/cardpay.jpg)')
                        .footer-fade
                        p.title-on-small.visible-xs.visible-sm Рублёвский клуб
                        p.title-on-big.visible-md.visible-lg
                            | Рублёвский Клуб.
                            br
                            | Вступайте прямо сейчас.
                        span.redbutton
                            | Подробнее о
                            | программе
    .container.outercont
        #footer-menu__container.row
            // меню футера для больших экранов
            .col-xs-12.col-md-9.hidden-xs.hidden-sm
                .col-xs-12.col-md-8
                    .row
                        .col-xs-12.col-md-6
                            ul.footer-menu__items.footer-menu__items-first
                                li
                                    a(href='/katalog/') Уникальная продукция
                                    ul.footer-menu__items.subitem.subcont
                                        li
                                            a(href='/katalog/kategorii/vareno_kopchenye_i_polukopchenye_kolbasy/') Варено-копченые и полукопченые колбасы
                                        li
                                            a(href='/katalog/kategorii/varenye_kolbasy_i_vetchiny/') Вареные колбасы и ветчины
                                        li
                                            a(href='/katalog/kategorii/delikatesy_i_kopchenosti/') Деликатесы и копчености
                                        li
                                            a(href='/katalog/kategorii/zamorozhennye_polufabrikaty/') Замороженные полуфабрикаты
                                        li
                                            a(href='/katalog/kategorii/produktsiya_dlya_zharki/') Продукция для жарки
                        .col-xs-12.col-md-6.subcont
                            ul.footer-menu__items.secondcolmenu
                                li
                                    ul.footer-menu__items.subitem
                                        li
                                            a(href='/katalog/kategorii/sosiski_i_sardelki/') Сосиски и сардельки
                                        li
                                            a(href='/katalog/kategorii/syrokopchenaya_produktsiya/') Сырокопченая продукция
                                        li
                                            a(href='/katalog/kategorii/tomlenoe_myaso/') Томленое мясо
                                        li
                                            a(href='/katalog/kategorii/pashtety_studni_produktsiya_iz_pecheni_i_potroshkov/') Паштеты, студни, продукция из печени и потрошков
                                        li
                                            a(href='/katalog/kategorii/syrovyalenye_kolbasy/') Сыровяленые колбасы
                .col-xs-12.col-md-4
                    ul.footer-menu__items.right_menu
                        li
                            a(href='/about/') О компании
                        li
                            a(href='/gde-kupit/') Где купить
                        li
                            a(href='/sales/') Акции
                        li
                            a(href='/news/') Новости
                        li
                            a(href='/franchise/') Франшиза
            // /меню футера для больших экранов
            // меню футера для маленьких экранов
            .col-xs-12.col-sm-6.footer-menu-items.hidden-md.hidden-lg
                a(href='/about/') О компании
                a(href='/sales/') Акции
                a(href='/katalog/') Уникальная продукция
            .col-xs-12.col-sm-6.footer-menu-items.hidden-md.hidden-lg
                a(href='/news/') Новости
                a(href='/gde-kupit/') Где купить
                a(href='/franchise/') Франшиза
            // /меню футера для маленьких экранов
            .col-xs-12.col-md-3
                ul.mobile-menu-list
                    li
                        a.mm-list-item-icon.shop-link.first(href='http://www.rublevskiy-shop.ru/', target='_blank')
                            span.before
                                span#mm-shop-f.beforeicon
                                    svg(xmlns='http://www.w3.org/2000/svg', width='18px', height='21px')
                                        path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M16.700,20.054 C16.696,20.054 16.692,20.054 16.688,20.054 L1.299,20.054 C1.133,20.054 0.974,19.985 0.862,19.863 C0.749,19.741 0.691,19.578 0.704,19.412 L1.701,6.268 C1.724,5.956 1.984,5.715 2.297,5.715 L4.215,5.715 C4.219,3.083 6.361,0.943 8.994,0.943 C11.626,0.943 13.768,3.083 13.772,5.715 L15.690,5.715 C16.003,5.715 16.263,5.956 16.286,6.267 L17.275,19.293 C17.290,19.346 17.298,19.400 17.298,19.456 C17.298,19.787 17.030,20.054 16.700,20.054 ZM8.994,2.138 C7.019,2.138 5.414,3.742 5.410,5.715 L12.577,5.715 C12.573,3.742 10.968,2.138 8.994,2.138 ZM15.137,6.910 L13.773,6.910 L13.773,8.105 C13.773,8.435 13.506,8.703 13.176,8.703 C12.846,8.703 12.578,8.435 12.578,8.105 L12.578,6.910 L5.409,6.910 L5.409,8.105 C5.409,8.435 5.141,8.703 4.811,8.703 C4.482,8.703 4.214,8.435 4.214,8.105 L4.214,6.910 L2.851,6.910 L1.944,18.860 L16.044,18.860 L15.137,6.910 Z')
                            |                             Интернет-магазин
                    li
                        a.mm-list-item-icon.highlighted.shop-link(href='/club/')
                            span.before.club-icon
                                span#mm-club-f.beforeicon
                                    svg(xmlns='http://www.w3.org/2000/svg', width='21px', height='17px')
                                        path(fill-rule='evenodd', fill='rgb(255, 255, 255)', d='M18.897,16.983 L2.102,16.983 C0.943,16.983 -0.000,16.024 -0.000,14.858 L-0.000,2.124 C-0.000,0.952 0.943,-0.002 2.102,-0.002 L18.897,-0.002 C20.056,-0.002 21.000,0.952 21.000,2.124 L21.000,14.858 C21.000,16.024 20.056,16.983 18.897,16.983 ZM19.554,1.461 L1.487,1.461 L1.487,4.036 L19.554,4.036 L19.554,1.461 ZM19.554,5.234 L1.487,5.234 L1.487,6.648 L19.554,6.648 L19.554,5.234 ZM19.554,8.364 L1.487,8.364 L1.487,15.770 L19.554,15.770 L19.554,8.364 Z')
                            |                             Рублёвский клуб
                #lowermetasmall.row.hidden-md.hidden-lg
                    .col-xs-12.col-sm-6
                        .meta-info-menu
                            .mi-title.mititle-telfax Телефон/факс
                            a.mi-phonenumber(href='tel:+74957717114') +7 (495) 771-71-14
                            a.mi-writeletter(href='/contacts/#feedback') Написать письмо >
                    .col-xs-12.col-sm-6
                        .footer-social-wr
                            a.menu-follow-link.mfl-fb(href='https://www.facebook.com/RublevskyCLUB/', target='_blank')
                                svg#fb_stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='45px', height='44px', viewBox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                                    style(type='text/css').
                                        .st05 {
                                            fill: #636363;
                                            fill-opacity: 0;
                                            stroke: #636363;
                                        }

                                        .st15 {
                                            fill: #636363;
                                        }
                                    ellipse#Ellipse_5_copy_4.st05(cx='22', cy='22', rx='21.5', ry='21.5')
                                    path#f_copy_2.st15(d='M27.3,12.6c-0.6,0-1.2-0.1-1.9-0.1c-3.2,0-4.9,1.5-4.9,4.5v1.8h-3.2v2.5h3.2v11.1h3.8V21.4h3.1\
                    v-2.5h-3.2v-2.2c0-1.1,0.5-1.5,1.8-1.5c0.4,0,0.6,0,1.2,0V12.6z')
                            a.menu-follow-link.mfl-vk(href='https://vk.com/rublevskiy_club', target='_blank')
                                svg#vk_stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='44px', height='44px', viewBox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                                    style(type='text/css').
                                        .st05 {
                                            fill: #636363;
                                            fill-opacity: 0;
                                            stroke: #636363;
                                        }

                                        .st15 {
                                            fill: #636363;
                                        }
                                    circle#Ellipse_5_copy_3.st05(cx='22', cy='22', r='21.5')
                                    path.st15(id='в_copy_2', d='M16.9,14.9v14.3h6.7c2.1,0,3.8-1.4,3.8-4.3c0-2-0.9-3.1-2.1-3.5c1-0.6,1.6-1.8,1.5-3\
                    c0-2.6-1.6-3.5-3.6-3.5H16.9L16.9,14.9z M19.9,20.5v-3.3H22c1,0,1.8,0.2,1.8,1.6c0,1.4-0.9,1.7-1.8,1.7H19.9z M19.9,26.6v-3.9h2.2\
                    c1.1,0,2.2,0.3,2.2,1.9c0,1.7-1,1.9-2.1,1.9L19.9,26.6L19.9,26.6z')
                            a.menu-follow-link.mfl-ig(href='https://www.instagram.com/rublevskiyshop.ru/', target='_blank')
                                svg#inst__stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='45px', height='44px', viewBox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                                    style(type='text/css').
                                        .st05 {
                                            fill: #636363;
                                            fill-opacity: 0;
                                            stroke: #636363;
                                        }

                                        .st15 {
                                            fill: #636363;
                                        }
                                    circle#Ellipse_5_copy_2.st05(cx='22', cy='22', r='21.5')
                                    path#Ellipse_2_copy_2.st15(d='M32.9,26.4c-0.3,3.2-2.8,5.7-5.9,5.9c-3,0.1-5.9,0.1-8.9,0c-3.2-0.3-5.7-2.8-5.9-5.9\
                    c-0.1-3-0.1-5.9,0-8.9c0.3-3.2,2.8-5.7,5.9-6c3-0.1,5.9-0.1,8.9,0c3.2,0.3,5.7,2.8,5.9,6C33,20.5,33,23.5,32.9,26.4z M31.3,18.2\
                    c-0.4-2.6-2.4-4.7-5-5c-2.5-0.1-5-0.1-7.5,0c-2.7,0.1-4.9,2.3-5.1,5c-0.1,2.5,0,5,0,7.5c0,2,3,4.9,5.1,5.1c2.5,0.1,5,0.1,7.5,0\
                    c2.4-0.1,4.8-3.1,5-5.1C31.5,23.2,31.3,20.7,31.3,18.2L31.3,18.2z M27.2,17.8c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5\
                    s1.5,0.7,1.5,1.5c0,0,0,0,0,0C28.7,17.1,28,17.8,27.2,17.8L27.2,17.8z M22.5,27.3c-2.9,0-5.3-2.3-5.3-5.2c0-2.9,2.3-5.3,5.2-5.3\
                    c2.9,0,5.3,2.3,5.3,5.2c0,0,0,0,0,0C27.8,24.9,25.4,27.3,22.5,27.3C22.5,27.3,22.5,27.3,22.5,27.3L22.5,27.3z M22.6,18.6\
                    c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3c1.8,0,3.3-1.5,3.3-3.3c0,0,0,0,0,0C25.9,20.1,24.4,18.6,22.6,18.6L22.6,18.6\
                    L22.6,18.6z')
                            a.menu-follow-link.mfl-yt(href='https://www.youtube.com/channel/UC2FVS7KRkvZp-BMrpHLIqnA', target='_blank')
                                svg#ytube_stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='44px', height='44.1px', viewBox='0 0 44 44.1', style='enable-background:new 0 0 44 44.1;', xml:space='preserve')
                                    style(type='text/css').
                                        .st05 {
                                            fill: #636363;
                                            fill-opacity: 0;
                                            stroke: #636363;
                                        }

                                        .st15 {
                                            fill: #636363;
                                        }
                                    circle#Ellipse_5_copy.st05(cx='22', cy='22', r='21.5')
                                    path#Shape_1_copy.st15(d='M29.3,31.5H14.8c-2.4,0-4.3-1.9-4.3-4.3V18c0-2.4,1.9-4.3,4.3-4.3h14.5\
                    c2.4,0,4.3,1.9,4.3,4.3v9.2C33.6,29.5,31.6,31.5,29.3,31.5z M31.7,18c0-1.4-1.1-2.5-2.5-2.5H14.9c-1.4,0-2.5,1.1-2.5,2.5v9\
                    c0,1.4,1.1,2.5,2.5,2.5h14.3c1.4,0,2.5-1.1,2.5-2.5V18z M20.2,27.3c-0.1,0.1-0.3,0.1-0.5,0.1c-0.5,0-0.9-0.4-0.9-0.9c0,0,0,0,0,0\
                    v-7.9c0-0.3,0.2-0.6,0.5-0.8c0.3-0.2,0.6-0.1,0.9,0l6.5,4c0.4,0.3,0.5,0.8,0.3,1.2c-0.1,0.1-0.2,0.2-0.3,0.3L20.2,27.3z M20.6,19.9\
                    v5.4l4-2.7L20.6,19.9z')
                .footer-social.hidden-xs.hidden-sm
                    .mi-title.mititle-follow Следите за нами в соцсетях
                    .footer-social-wr
                        a.menu-follow-link.mfl-fb(href='https://www.facebook.com/RublevskyCLUB/', target='_blank')
                            svg#fb_stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='45px', height='44px', viewBox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                                style(type='text/css').
                                    .st05 {
                                        fill: #636363;
                                        fill-opacity: 0;
                                        stroke: #636363;
                                    }

                                    .st15 {
                                        fill: #636363;
                                    }
                                ellipse#Ellipse_5_copy_4.st05(cx='22', cy='22', rx='21.5', ry='21.5')
                                path#f_copy_2.st15(d='M27.3,12.6c-0.6,0-1.2-0.1-1.9-0.1c-3.2,0-4.9,1.5-4.9,4.5v1.8h-3.2v2.5h3.2v11.1h3.8V21.4h3.1\
                  v-2.5h-3.2v-2.2c0-1.1,0.5-1.5,1.8-1.5c0.4,0,0.6,0,1.2,0V12.6z')
                        a.menu-follow-link.mfl-vk(href='https://vk.com/rublevskiy_club', target='_blank')
                            svg#vk_stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='44px', height='44px', viewBox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                                style(type='text/css').
                                    .st05 {
                                        fill: #636363;
                                        fill-opacity: 0;
                                        stroke: #636363;
                                    }

                                    .st15 {
                                        fill: #636363;
                                    }
                                circle#Ellipse_5_copy_3.st05(cx='22', cy='22', r='21.5')
                                path.st15(id='в_copy_2', d='M16.9,14.9v14.3h6.7c2.1,0,3.8-1.4,3.8-4.3c0-2-0.9-3.1-2.1-3.5c1-0.6,1.6-1.8,1.5-3\
                  c0-2.6-1.6-3.5-3.6-3.5H16.9L16.9,14.9z M19.9,20.5v-3.3H22c1,0,1.8,0.2,1.8,1.6c0,1.4-0.9,1.7-1.8,1.7H19.9z M19.9,26.6v-3.9h2.2\
                  c1.1,0,2.2,0.3,2.2,1.9c0,1.7-1,1.9-2.1,1.9L19.9,26.6L19.9,26.6z')
                        a.menu-follow-link.mfl-ig(href='https://www.instagram.com/rublevskiyshop.ru/', target='_blank')
                            svg#inst__stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='45px', height='44px', viewBox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
                                style(type='text/css').
                                    .st05 {
                                        fill: #636363;
                                        fill-opacity: 0;
                                        stroke: #636363;
                                    }

                                    .st15 {
                                        fill: #636363;
                                    }
                                circle#Ellipse_5_copy_2.st05(cx='22', cy='22', r='21.5')
                                path#Ellipse_2_copy_2.st15(d='M32.9,26.4c-0.3,3.2-2.8,5.7-5.9,5.9c-3,0.1-5.9,0.1-8.9,0c-3.2-0.3-5.7-2.8-5.9-5.9\
                  c-0.1-3-0.1-5.9,0-8.9c0.3-3.2,2.8-5.7,5.9-6c3-0.1,5.9-0.1,8.9,0c3.2,0.3,5.7,2.8,5.9,6C33,20.5,33,23.5,32.9,26.4z M31.3,18.2\
                  c-0.4-2.6-2.4-4.7-5-5c-2.5-0.1-5-0.1-7.5,0c-2.7,0.1-4.9,2.3-5.1,5c-0.1,2.5,0,5,0,7.5c0,2,3,4.9,5.1,5.1c2.5,0.1,5,0.1,7.5,0\
                  c2.4-0.1,4.8-3.1,5-5.1C31.5,23.2,31.3,20.7,31.3,18.2L31.3,18.2z M27.2,17.8c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5\
                  s1.5,0.7,1.5,1.5c0,0,0,0,0,0C28.7,17.1,28,17.8,27.2,17.8L27.2,17.8z M22.5,27.3c-2.9,0-5.3-2.3-5.3-5.2c0-2.9,2.3-5.3,5.2-5.3\
                  c2.9,0,5.3,2.3,5.3,5.2c0,0,0,0,0,0C27.8,24.9,25.4,27.3,22.5,27.3C22.5,27.3,22.5,27.3,22.5,27.3L22.5,27.3z M22.6,18.6\
                  c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3c1.8,0,3.3-1.5,3.3-3.3c0,0,0,0,0,0C25.9,20.1,24.4,18.6,22.6,18.6L22.6,18.6\
                  L22.6,18.6z')
                        a.menu-follow-link.mfl-yt(href='https://www.youtube.com/channel/UC2FVS7KRkvZp-BMrpHLIqnA', target='_blank')
                            svg#ytube_stroke(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='44px', height='44.1px', viewBox='0 0 44 44.1', style='enable-background:new 0 0 44 44.1;', xml:space='preserve')
                                style(type='text/css').
                                    .st05 {
                                        fill: #636363;
                                        fill-opacity: 0;
                                        stroke: #636363;
                                    }

                                    .st15 {
                                        fill: #636363;
                                    }
                                circle#Ellipse_5_copy.st05(cx='22', cy='22', r='21.5')
                                path#Shape_1_copy.st15(d='M29.3,31.5H14.8c-2.4,0-4.3-1.9-4.3-4.3V18c0-2.4,1.9-4.3,4.3-4.3h14.5\
                  c2.4,0,4.3,1.9,4.3,4.3v9.2C33.6,29.5,31.6,31.5,29.3,31.5z M31.7,18c0-1.4-1.1-2.5-2.5-2.5H14.9c-1.4,0-2.5,1.1-2.5,2.5v9\
                  c0,1.4,1.1,2.5,2.5,2.5h14.3c1.4,0,2.5-1.1,2.5-2.5V18z M20.2,27.3c-0.1,0.1-0.3,0.1-0.5,0.1c-0.5,0-0.9-0.4-0.9-0.9c0,0,0,0,0,0\
                  v-7.9c0-0.3,0.2-0.6,0.5-0.8c0.3-0.2,0.6-0.1,0.9,0l6.5,4c0.4,0.3,0.5,0.8,0.3,1.2c-0.1,0.1-0.2,0.2-0.3,0.3L20.2,27.3z M20.6,19.9\
                  v5.4l4-2.7L20.6,19.9z')
        .row.waterline
            .col-xs-12.col-md-3.copyright © «Рублёвский» 2012—2018
            .col-xs-12.col-md-3.col-md-offset-3.contactinfo.hidden-xs.hidden-sm
                .meta-info-menu
                    .mi-title.mititle-telfax Телефон/факс
                    a.mi-phonenumber(href='tel:+74957717114') +7 (495) 771-71-14
                    a.mi-writeletter(href='/contacts/#feedback') Написать письмо >


