main.main
    .container
        .cabinet
            include ../components/_aside
            section.cabinetBody
                .clientTitle
                    h1 Моя карта
                    .clientNumber 1234 5678 9012 3456
                .clientInfo
                    .clientInfo-card.flip-card
                        .flip-card-inner
                            .flip-card-front
                                img(src='images/card.png', alt='')
                            .flip-card-back
                                img(src='images/barcode.png', alt='')
                                div 1234 5678 9012 3456
                        .close-btn
                            .front
                                img(src='images/barcode-m.png', alt='')
                                div Показать баркод
                            .back
                                img(src='images/icons/close.svg', alt='')
                    .clientInfo-desc
                        h4 Алексеев Алексей Игоревич
                        ul.list--counter
                            li
                                .key Количество бонусов:
                                .value 130
                            li
                                .key Начислено в апреле:
                                .value 12
                a(href='#') Заблокировать карту
                .clientInfo-item
                    .clientInfo-title: h3 Излюбленный продукт
                    .clientInfo-product Излюбленный продукт не выбран
                    a.btn.btn--danger(href='#') выбрать сейчас
                .clientInfo-item
                    h3 Дополнительные бонусы
                        span.tooltip(data-tooltip='Если вы впервые заходите в личный кабинет')
                    .clientInfo-bonus
                        .bonus-badge 20%
                        .bonus-txt У вас день рождения? "Рублёвский" дарит вам #[span 200 бонусов]
                        .bonus-date.text--grey Действует #[.text--primary до 31.12.2018]
                .clientInfo-item
                    h3 Персональные предложения
                        span.tooltip(data-tooltip='Если вы впервые заходите в личный кабинет')
                    .relative
                        .catalog.swiper-container
                            .swiper-wrapper
                                - for (var x = 1; x < 4; x++)
                                    .catalog-item.swiper-slide
                                        .catalog-img
                                            .catalog-badge +20% #[span бонусов]
                                            img(src='images/catalog.jpg', alt='')
                                        .catalog-desc
                                            .catalog-setting Встречайте лето вкусно и выгодно!
                                            .catalog-title
                                                h2 Колбаски "Гурийские"
                                                p.text__md Купите в магазине сети колбаски "Гурийские" и получите 20% бонусами на карту!
                                            .catalog-price #[span 500 р.] 450 р.
                                            a.btn.btn--danger(href='#') Узнать Подробности
                            .swiper-settings
                                .swiper-pagination
                                .swiper-navigation
                                    .swiper-button-next
                                    .swiper-button-prev
                .clientInfo-item
                    h3 Последние покупки
                        span.tooltip(data-tooltip='Если вы впервые заходите в личный кабинет')
                    .shops
                        - for (var x = 1; x < 4; x++)
                            .shops-item
                                .shops-date
                                    b 30 марта
                                    | 12:03
                                .shops-img
                                    img(src='images/minicard.png', alt='')
                                .shops-title Карта привилегия «Рублевский»
                                .shops-price 1389 руб
                                .shops-rating
                                    .shops-rating-add +138 балов начислено
                                    .shops-rating-sale -38 рублей скидка
                .clientInfo-item
                    h3 Акции
                    .shares
                        .shares-item
                            .shares-inner
                                h3 Информация про акцию, которая проходит в магазинах
                                p Акции действуют в розничных магазинах сети "Рублевский"
                                .button: a.btn.btn--danger(href='#') подробнее
                            img(src='images/shares.jpg', alt='')
                        .shares-item
                            .shares-inner
                                h3 Информация про акцию, которая проходит в магазинах
                                p Акции действуют в розничных магазинах сети "Рублевский"
                                .button: a.btn.btn--danger(href='#') подробнее
                            img(src='images/shares.jpg', alt='')
                .clientInfo-item
                    .clientForm
                        .clientForm-title
                            h3 Есть вопрос #[br] или предложение?
                        .clientForm-form
                            form(action='', method='POST')
                                +fieldInput('email', 'email', 'email', 'Ваша электронная почта', 'info@gmail.com', false, true, '')
                                +fieldTextarea('message', 'message', 'Ваш вопрос или предложение', 'Здравствуйте...', '5', false)
                                button.btn.btn--danger.form__group(type='submit') Отправить
                                +fieldCheckbox('Я согласен на обработку персональных данных и с условиями Бонусной программы «ПРИВИЛЕГИЯ»', 'sign', true)
