main.main
    .container
        section.fromlkEntry
            .fromlkEntry-left
                .fromlkEntry-title
                    h1 Вход в личный кабинет
                    h2 Получайте бонусы с картой «Привилегия»
                .switcherBlock.switcherBlock--js
                    .switcher-text.active По номеру телефона
                    .switcher
                        input(type="checkbox" id="switch")
                        label(for='switch')
                    .switcher-text По номеру карты
                form(action='', type='POST')
                    .forPhone.active: +fieldInput('text', 'phone', 'phone', 'Номер телефона', '', 'Номер не найден. Проверьте, пожалуйста, правильность ввода', true, '')
                    .forCard: +fieldInput('text', 'card', 'card', 'Номер карты', '', false, true, '')
                    .form__group.error
                        label(for='password') Пароль
                            span.tooltip(data-tooltip='Если вы впервые заходите в личный кабинет, укажите одноразовый пароль, который был отправлен вас в смс в момент активации')
                        .inputs
                            input.control(type='password', name='password', id='password', required)
                            a(href='#') Забыл пароль
                        .error-text Неправильный пароль
                    .buttons
                        button.btn.btn--danger(type='submit') Войти
                        i.text--grey или
                        a.btn.btn--outlined(href='#') Зарегистрировать виртуальную карту
                        .is-col__xs-12.error-text Для входа необходимо заполнить все поля
                    .is-col__lg-8.text__sm.text--grey
                        p Если у вас изменился номер телефона, пожалуйста, свяжитесь с нашими сотрудниками. Мы подскажем, как привязать ваши карты на ваш новый номер телефона.#[b Звонок бесплатный по РФ, круглосуточно: 8‑800‑555‑55‑05]
            .fromlkEntry-right
                .cards
                    a.cards-item(href='#')
                        .text--uppercase активировать карту
                        img(src='images/card-1.png', alt='')
                    a.cards-item(href='#')
                        .text--uppercase Зарегистрировать #[br] виртуальную карту
                        img(src='images/card-2.png', alt='')
                    a.cards-item.cards-item--club(href='#')
                        .text--primary Клуб почетного покупателя
                        img(src='images/card-3.png', alt='')

