main.main
    .container
        section.fromlkEntry
            .fromlkEntry-left
                .fromlkEntry-title
                    h1 Создание пароля
                h4.text--primary Вы вошли в личный кабинет при помощи разового пароля. #[br] Для безопасности установите новый личный пароль, который вы будете использовать в дальнейшем для доступа к личному кабинету.
                form(action='', type='POST')
                    .badge
                        span.icon-alert-circle
                        div В целях безопасности ваш пароль должен состоять из не менее 6 символов. Возможно использование только букв или цифр.
                    +fieldInput('password', 'pass', 'pass', 'Новый пароль', '', false, true, '')
                    +fieldInput('password', 'newpass', 'newpass', 'Подтверждение пароля', '', false, true, '')
                    .buttons
                        button.btn.btn--danger(type='submit') Сохранить
            .fromlkEntry-right
                .cards
                    a.cards-item(href='#')
                        .text--uppercase активировать карту
                        img(src='images/card-1.png', alt='')
                    a.cards-item(href='#')
                        .text--uppercase Зарегистрировать #[br] виртуальную карту
                        img(src='images/card-2.png', alt='')
                    a.cards-item.cards-item--club(href='#')
                        .text--primary Клуб почетного покупателя
                        img(src='images/card-3.png', alt='')

