main.main
    .container
        section.fromlkEntry
            .fromlkEntry-left
                .fromlkEntry-title
                    h1 Восстановление пароля
                h4.text--primary Мы отправили на указанный вами номер СМС с кодом. Введите его в поле ниже:
                form(action='', type='POST')
                    +fieldInput('text', 'sms', 'sms', 'Код из смс', '', false, true, '')
                    .buttons
                        button.btn.btn--danger(type='submit') продолжить
                        a(href='passwordC.html') Изменить номер
                .fromlkEntry-sentagain
                    p.text--primary Вам не пришел код подтверждения?
                    p.text__sm.text--grey Возможно отправить повторно через #[span#time]
                    a.btn.btn--danger.sentagain--js(href='#', style='display:none') Отправить заново
                .fromlkEntry-txt
                    .text__sm.text--grey Если у вас сменился номер телефона, то свяжитесь с нашими сотрудниками. #[br] Мы подскажем, как привязать ваши карты на новый номер.
                    b.text--primary +7 (495) 771-71-14
            .fromlkEntry-right
                .cards
                    a.cards-item(href='#')
                        .text--uppercase активировать карту
                        img(src='images/card-1.png', alt='')
                    a.cards-item(href='#')
                        .text--uppercase Зарегистрировать #[br] виртуальную карту
                        img(src='images/card-2.png', alt='')
                    a.cards-item.cards-item--club(href='#')
                        .text--primary Клуб почетного покупателя
                        img(src='images/card-3.png', alt='')

