main.main
    .container
        section.fromlkEntry
            .fromlkEntry-left
                .fromlkEntry-title
                    h1 Восстановление пароля
                h4.text--primary Укажите ваш номер телефона
                form(action='', type='POST')
                    +fieldInput('text', 'phone', 'phone', 'Номер телефона', '', false, true, '')
                    .buttons
                        button.btn.btn--danger(type='submit', disabled) продолжить
                        a(href='#') Отмена
            .fromlkEntry-right
                .cards
                    a.cards-item(href='#')
                        .text--uppercase активировать карту
                        img(src='images/card-1.png', alt='')
                    a.cards-item(href='#')
                        .text--uppercase Зарегистрировать #[br] виртуальную карту
                        img(src='images/card-2.png', alt='')
                    a.cards-item.cards-item--club(href='#')
                        .text--primary Клуб почетного покупателя
                        img(src='images/card-3.png', alt='')

