main.main
    .container
        .cabinet
            include ../components/_aside
            section.cabinetBody
                h1 Излюбленный продукт
                    span.tooltip(data-tooltip='Если вы впервые заходите в личный кабинет')
                p.text--grey При выборе излюбленного продукта пользователю предоставляетсявозможность покупки выбранного товара в офлайн-точках продаж сети магазинов по специальным условиям (с начислением удвоенных бонусов или со скидкой)
                .cabinetFilter
                    .cabinetFilter-title
                        h4 Выберите точку продаж:
                        a(href='#') Выбрать на карте
                    select.control
                        option(value='shop1') ФИРМЕННЫЙ МАГАЗИН ул. Главмосстроя, д.9
                        option(value='shop2') ФИРМЕННЫЙ МАГАЗИН ул. Главмосстроя, д.8
                        option(value='shop3') ФИРМЕННЫЙ МАГАЗИН ул. Главмосстроя, д.10
                        option(value='shop4') ФИРМЕННЫЙ МАГАЗИН ул. Главмосстроя, д.5
                    br
                    .cabinetFilter-title
                        h4 Выберите категорию товара:
                    select.control
                        option(value='all') Все
                        option(value='cat1') Варено-копченые и полукопченые колбасы
                        option(value='cat2') Полукопченые колбасы
                        option(value='cat3') Варено-копченые колбасы
                        option(value='cat4') Копченые колбасы
                h3 Варено-копченые и полукопченые колбасы
                .cabinetCatalog
                    - for (var x = 1; x < 5; x++)
                        .cabinetCatalog-item(class='shop'+x+' cat'+x)
                            .cabinetCatalog-inner
                                .cabinetCatalog-img
                                    .cabinetCatalog-badge +20% #[span бонусов]
                                    img(src='images/catalog.jpg', alt='')
                                .cabinetCatalog-desc
                                    .cabinetCatalog-title Сервелат "Деликатесный" варено-копченый #[span (530&nbsp;г)]
                                    .cabinetCatalog-price
                                        .price 450 р.
                                        a.btn.btn--danger.btn--js(href='#')
                                            i.icon-plus
                                            span выбрать
                        .cabinetCatalog-item(class='shop'+x+' cat'+x)
                            .cabinetCatalog-inner
                                .cabinetCatalog-img
                                    .cabinetCatalog-badge +20% #[span бонусов]
                                    img(src='images/catalog-2.jpg', alt='')
                                .cabinetCatalog-desc
                                    .cabinetCatalog-title Сервелат "Деликатесный" #[span (530&nbsp;г)]
                                    .cabinetCatalog-price
                                        .price 450 р.
                                        a.btn.btn--danger.btn--js(href='#')
                                            i.icon-plus
                                            span выбрать
                    .cabinetCatalog-item.shop1.cat1
                        .cabinetCatalog-inner
                            .cabinetCatalog-img
                                .cabinetCatalog-badge +20% #[span бонусов]
                                img(src='images/catalog.jpg', alt='')
                            .cabinetCatalog-desc
                                .cabinetCatalog-title Сервелат "Деликатесный" варено-копченый варено-копченый #[span (530&nbsp;г)]
                                .cabinetCatalog-price
                                    .price 450 р.
                                    a.btn.btn--danger.btn--js(href='#')
                                        i.icon-plus
                                        span выбрать
                .cabinetSave
                    a.btn.btn--danger(href='#') Сохранить выбор
                    .text--grey *Напоминаем, что после сохранения излюбленых продуктов  по условиям #[a(href='#') программы] выбрать #[b категорию можно раз в неделю, продукт внутри категории - раз в сутки.]

