main.main
    .container
        .cabinet
            include ../components/_aside
            section.cabinetBody
                h1 Профиль
                p.text--grey Если у вас возникли какие-либо вопросы по изменению данных пожалуйста #[br] свяжитесь с нами по номеру горячей линии +7 (495) 771-71-14
                .cabinet-data
                    h3 Личные данные
                    .cabinet-row
                        .cabinet-col
                            +fieldInput('text', 'name', 'name', 'Имя', 'Алексей', false, true, '')
                        .cabinet-col
                            +fieldInput('text', 'surname', 'surname', 'Фамилия', 'Алексеев', false, true, '')
                        .cabinet-col
                            +fieldInput('text', 'fathname', 'fathname', 'Отчество', 'Алексеевич', false, true, '')
                    .cabinet-row
                        .cabinet-col.cabinet-col--long
                            .form__group
                                label(for='date') Дата рождения
                                    span.tooltip(data-tooltip='Если вы впервые заходите в личный кабинет')
                                .inputs
                                    input.control(type='date', name='date', id='date', value='21.01.1990')
                                    a(href='#') Изменить
                .cabinet-data
                    h3 Контактная информация
                    .cabinet-row
                        .cabinet-col.cabinet-col--long
                            .form__group
                                label(for='phone') Телефон
                                .inputs
                                    input.control(type='text', name='phone', id='phone', value='+7 (910) 423-33-44')
                                    a(href='#') Изменить
                    .cabinet-row
                        .cabinet-col.cabinet-col--long
                            .form__group
                                label(for='email') Электронная почта
                                .inputs
                                    input.control(type='email', name='email', id='email', value='info@gmail.com')
                                    a(href='#') Изменить
                .cabinet-data
                    h3 Пароль
                    .cabinet-row
                        .cabinet-col.cabinet-col--long
                            .form__group
                                label(for='password') Ваш пароль
                                .inputs
                                    input.control(type='password', name='password', id='password')
                                    a(href='#') Изменить
                .cabinet-data
                    h3 Уведомления
                    p.text--grey Я даю согласие на получение спец. предложений с помощью
                    +fieldCheckbox('SMS-сообщений', 'item1', false)
                    +fieldCheckbox('через e-mail', 'item2', false)
                    +fieldCheckbox('через оператора Горячей Линии', 'item3', false)
