//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title
mixin brands(items)
    .brands-items
        each item in items
            .brands__item
                - if(item.hit !== false)
                    .brands__item-hit Топ
                .brands__item-title= item.title
                .brands__item-img
                    img(src=item.src, alt=item.title)
                .brands__item-footer
                    .brands__item-name Кешбэк
                    .brands__item-num.number--js(data-number=item.num)= item.num + '%'

//- form-input
mixin fieldInput(type, name, id, label, placeholder, errorText, required, tooltip)
    - var error = ''
    - if(errorText !== false) error='error'
    .form__group(class=error)
        label(for=id)= label
            - if(tooltip)
                span.tooltip(data-tooltip=tooltip)
        - if(type === 'password')
            .control-pass
                input.control(type=type, name=name, id=id, value=placeholder, required=required)
                .icon-eye
        - else
            input.control(type=type, name=name, id=id, value=placeholder, required=required)
        - if(errorText)
            .error-text= errorText

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, required)
    .form__group
        label(for=id)= label
        textarea.control(name=name, id=id, placeholder=placeholder, rows=rows, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';


//- article
mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
